/* header */
.header {
    background-color: #ffffff;
    font-size: 1.4rem;
    line-height: 20px;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 1170px;
    height: 90px;
    font-size: 1.4rem;
    line-height: 20px;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
}
/* logo */
.header__container-logo {
    padding: 0 15px;
    margin-left: -15px;
}

.header__container-logo--img {
    width: 85px;
    height: 70px;
    margin-top: 8px;
}
/* Navbar */
.header__container-nav {
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 20px;
    padding: 0 15px;
    margin-right: -10%;
}

.header__navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__navbar-item {
    list-style: none;
    display: inline-block;
}

.header__navbar-link {
    color: var(--text-color);
    font-size: 1.7rem;
    text-decoration: none;
    padding: 30px 15px;
}

.header__navbar-link--active {
    border-bottom: 2px solid #000;
}
/* Search */
.header__navbar-search {
    border: 2px solid #f3f3f3;
    border-radius: 20px;
    margin: 20px;
    padding: 0 15px;
    display: flex;
    margin-right: -10%;
}

.header__navbar-input-btn {
    font-size: 1.4rem;
    line-height: 20px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    border: none;
    color: #c8d1e2;
    background-color: #fff;
    padding: 0 15px;
}

.header__navbar-input {
    border: none;
    outline: none;
    color: var(--text-color);
}
/* Cart */
.header__navbar-cart {
    width: 60px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
}

.header__navbar-cart-icon {
    font-size: 2rem;
    margin-top: 25px;
}

.header__navbar-cart-desc {
    font-size: 1.4rem;
    margin-top: -10px;
    color: var(--text-color);
    font-weight: 400;
}

/* Slider */
.slider {
    width: 76%;
    margin: 0 auto;
    overflow: hidden;
}

.slider__imgs {
    display: flex;
}

.slider__imgs img {
    width: 100%;
}

.slider__imgs input {
    display: none;
}

.labelslider {
    display: flex;
    justify-content: center;
}

.labelslider label {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 6px;
    margin-top: -15px;
    background-color: #d6d6d6;
}

.labelslider label:hover {
    background-color: #4a4a4a;
}

#img1:checked ~ .imgslider1 {
    margin-left: -100%;
}

#img2:checked ~ .imgslider2 {
    margin-left: -200%;
}

#img3:checked ~ .imgslider3 {
    margin-left: -300%;
}

#img4:checked ~ .imgslider4 {
    margin-left: -400%;
}

/* vourcher */
.web__container-vourcher {
    width: 1170px;
    height: 163px;
    display: block;
    margin: 0 auto;
}

.web__container-voucher-heading {
    color: #8b582b;
    font-size: 1.1rem;
    margin: 15px 0;
    margin-left: 10px;
}

.web__container-vourcher-list {
    display: flex;
    justify-content: space-between;
}

.web__container-vourcher-inner {
    position: relative;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 10px;
    width: 267px;
    height: 116px;
}

.web__container-vourcher-item-heading {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.web__container-vourcher-item-desc {
    margin-top: 5px;
    color: #000;
    font-size: 1.3rem;
}

.web__container-vourcher-item-copy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
}

.web__container-copy-btn {
    background: rgba(0, 0, 0, 0.05);
    color: #4a4a4a;
    border: 1px solid 0, 0.08;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
    padding: 2px 10px 3px;
    border-radius: 15px;
    min-width: 100px;
    outline: none;
}

/* Content */
.item__section {
    width: 1170px;
    margin: 0 auto;
}

.item__section-title {
    margin-bottom: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__section-heading a,
.item__section-heading-all {
    text-decoration: none;
}

.item__section-heading a {
    font-size: 2.4rem;
    color: var(--text-color);
}

.item__section-heading-all {
    color: var(--text-color);
    font-size: 1.6rem;
}

.item__section-content {
    width: 1170px;
    margin: 0 auto;
}

.item__section-content-list {
    display: flex;
    flex-wrap: wrap;
}

.item__section-content-item {
    max-width: calc(20% - 20px);
    margin: 5px 10px;
}

.item__section-item-inner:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item__section-item-inner:hover .item__section-item-img_back {
    display: block;
    animation: fadeIn ease-in 0.3s;
}

.item__section-item-img {
    position:relative;
    height: 214px;
    width: 214px;
}

.item__section-item-img_back {
    display: none;
}

.item__section-item-img_front,.item__section-item-img_back{
    position:absolute;
    width: 100%;
    height: 100%;
}

.item__section-item-desc {
    padding-left: 15px;
    padding-bottom: 15px;
}

.item__section-item-heading {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
}

.item__section-item-price {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 10px;
}

.item__section-btn {
    display: flex;
    margin: 15px auto;
}

.item__section-btn a {
    text-decoration: none;
}

.item__section-text-btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 12px 1;
    line-height: normal;
    color: #fff;
    background-color: #c78041;
    border: 1px solid #744923;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
}

.item__section-text-btn:hover {
    background-color: #8b572a;
}

.item__section-btn a span{
    position: relative;
    z-index: 2;
}

.item__section-btn a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    transition: all .35s;
  }

  .item__section-btn  a:hover{
    color: #fff;
  }
  
  .item__section-btn  a:hover:after{
    width: 100%;
  }
  