.header {
    background-color: #ffffff;
    font-size: 1.4rem;
    line-height: 20px;
}

.header-wrap-logo {
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0 15px;
}

.header-wrap-nav {

}

.header-wrap-search {

}

.header-wrap-cart {

}
