.header {
    background-color: #ffffff;
    font-size: 1.4rem;
    line-height: 20px;
}

.header__container-logo {
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0 15px;
}

.header__container-nav {

}

.header__container-search {

}

.header__container-cart {

}
